<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fsc.cicerone">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.user.registered_user.ForgotPassword"
            android:label="@string/reset_password"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".view.user.registered_user.globetrotter.GlobetrotterItineraryListFragment"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".view.user.registered_user.cicerone.CiceroneItineraryListFragment"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".view.admin.AdminDetailsUserFragment"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".view.user.registered_user.ReservationFragment"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".view.admin.AdminUserProfile"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".view.user.UsersListFragment"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".view.user.RegistrationActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".view.admin.AdminItineraryDetails"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.admin.AdminReportDetailsActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".view.admin.AdminMainActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".view.user.registered_user.ChangePasswordActivity"
            android:label="@string/change_password"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".view.user.registered_user.WishlistFragment"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".view.itinerary.ItineraryUpdate"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".view.user.UserMainActivity"
            android:label="@string/app_name"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".view.report.ReportDetailsActivity"
            android:label="@string/report_details_title"
            android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.itinerary.ItineraryManagement"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.itinerary.ItineraryDetails"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.itinerary.ItineraryCreation"
            android:label="@string/create_itinerary"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".view.user.ProfileActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".view.user.registered_user.LoginActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".view.system.SplashActivity"
            android:screenOrientation="nosensor"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <!-- Firebase Notifications -->
        <service
            android:name=".notifications.MyFirebaseMessagingService"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>