<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fsc.cicerone">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ForgotPassword"
            android:label="@string/reset_password"/>
        <activity android:name=".GlobetrotterItineraryListFragment" />
        <activity android:name=".CiceroneItineraryListFragment" />
        <activity android:name=".AdminDetailsUserFragment" />
        <activity android:name=".ReservationFragment" />
        <activity android:name=".AdminUserProfile" />
        <activity android:name=".UsersListFragment" />
        <activity android:name=".RegistrationActivity" />
        <activity
            android:name=".AdminItineraryDetails"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".AdminReportDetailsActivity" />
        <activity android:name=".AdminMainActivity" />
        <activity
            android:name=".ChangePasswordActivity"
            android:label="@string/change_password" />
        <activity android:name=".WishlistFragment" />
        <activity android:name=".ItineraryUpdate" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".ReportDetailsActivity"
            android:label="@string/report_details_title">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ItineraryManagement"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ItineraryDetails"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ItineraryCreation"
            android:label="@string/create_itinerary" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>